body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
    /* Imagen de la ciudad */
    background: url('https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?q=80&w=1400') no-repeat center center fixed;
    background-size: cover;
}

body::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Capa oscura */
    backdrop-filter: blur(10px);    /* El efecto borroso */
    z-index: -1;
}

.contenedor-principal {
    background-color: rgba(0, 0, 0, 0.85); /* El rectángulo negro */
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    width: 80%;
    max-width: 500px;
}

h1 { color: #fccf05; text-transform: uppercase; }
p { color: white; opacity: 0.8; }

.boton-moderno {
    margin-top: 20px;
    padding: 10px 25px;
    background: #fccf05;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}
